.result-images {
    display: flex;
    column-gap: 7rem;
}

.result-images img {
    width: 100px;
}

.result {
    text-align: center;
    font-size: 2rem;
    margin-top: 1.5rem;
}

.option-images img {
    width: 50px;
}

.option-images {
    display: flex;
    align-items: center;
    margin-top: 2.5rem;
    justify-content: space-between;
}

.option-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.option-image:hover {
    opacity: 1;
}

.option-image img {
    pointer-events: none;
}

.option-image p {
    font-size: 1.235rem;
    margin-top: 1rem;
    pointer-events: none;
}